.Banner,
.Banner * {
  margin-left: -10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.Banner {
  max-width: 1200px;
  width: 100%;
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
}